## Dataframe construction

In [1]:
import pandas as pd

In [8]:
import pandas as pd
df1 = pd.read_csv('../Part 2 Capstone/df2.csv')

In [9]:
for column in df1.columns:
    print df1[column].describe()

count    654313.000000
mean      30404.829041
std       18369.166122
min           0.000000
25%       14870.000000
50%       29741.000000
75%       44612.000000
max       79091.000000
Name: Unnamed: 0, dtype: float64
count    6.543130e+05
mean     8.729189e+04
std      7.913135e+04
min      7.650000e+02
25%      3.058300e+04
50%      5.888900e+04
75%      1.625420e+05
max      1.152422e+06
Name: EVENT_TYPE, dtype: float64
count    6.543130e+05
mean     1.892418e+06
std      2.418225e+06
min      3.419000e+03
25%      1.808540e+05
50%      3.533630e+05
75%      5.371730e+06
max      5.535308e+06
Name: EVENT_ID, dtype: float64
count     654312
unique        68
top        TEXAS
freq       45296
Name: EPISODE_ID, dtype: object
count    654313.000000
mean       2008.221709
std           3.083121
min        2003.000000
25%        2006.000000
50%        2008.000000
75%        2011.000000
max        2013.000000
Name: DATE, dtype: float64
count     654313
unique        23
top         June
freq       72273
Name: CZ_NAME, dtype: object
count           654313
unique              15
top       Winter Storm
freq            269358
Name: STATE, dtype: object
count        654313
unique         6329
top       JEFFERSON
freq           5194
Name: INJURIES_DIRECT, dtype: object
count    654313.000000
mean          0.053577
std           2.914238
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max        1150.000000
Name: INJURIES_INDIRECT, dtype: float64
count    654313.000000
mean          0.013384
std           3.024913
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max        2400.000000
Name: TOTAL_INJURIES, dtype: float64
count    654313.000000
mean          0.008861
std           0.284431
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max         158.000000
Name: DEATHS_DIRECT, dtype: float64
count    654313.000000
mean          0.002017
std           0.062737
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max          11.000000
Name: DEATHS_INDIRECT, dtype: float64
count    6.543130e+05
mean     5.569882e+05
std      1.464302e+08
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      1.150000e+11
Name: TOTAL_DEATHS, dtype: float64
count    6.543130e+05
mean     5.286347e+04
std      2.927734e+06
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      1.050000e+09
Name: CASUALTIES, dtype: float64
count    174.000000
mean       1.086207
std        0.428108
min        1.000000
25%             NaN
50%             NaN
75%             NaN
max        5.000000
Name: DAMAGE_PROPERTY, dtype: float64
count     15864
unique       11
top         EF0
freq       5351
Name: DAMAGE_CROPS, dtype: object
count    15864.000000
mean         3.065221
std          7.237911
min          0.000000
25%               NaN
50%               NaN
75%               NaN
max        400.000000
Name: COMBINED_DAMAGE, dtype: float64
count    15864.000000
mean       150.016163
std        261.183590
min          0.000000
25%               NaN
50%               NaN
75%               NaN
max       4576.000000
Name: CATEGORY, dtype: float64
count                                                545882
unique                                                91047
top       A strong upper-level disturbance passed throug...
freq                                                    294
Name: TOR_F_SCALE, dtype: object
count                     379088
unique                    325842
top       Trees were blown down.
freq                         669
Name: TOR_LENGTH, dtype: object
count    654313.000000
mean          0.077839
std           4.334101
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max        2409.000000
Name: TOR_WIDTH, dtype: float64
count    654313.000000
mean          0.010879
std           0.297602
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max         161.000000
Name: EPISODE_NARRATIVE, dtype: float64
count    654313.000000
mean          0.066960
std           4.203051
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max        2400.000000
Name: EVENT_NARRATIVE, dtype: float64
count         654313
unique          3867
top       2012-07-01
freq            2447
Name: YEAR, dtype: object
count    6.543130e+05
mean     6.098517e+05
std      1.465156e+08
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      5.000000e+02
max      1.150325e+11
Name: MONTH_NAME, dtype: float64

In [10]:
df1.shape

(654313, 25)



## Below i will construct a number of dataframes that I will subsequently run both regression and classification models on.

In [16]:
df1.head()

,Unnamed: 0,EVENT_TYPE,EVENT_ID,EPISODE_ID,DATE,CZ_NAME,STATE,INJURIES_DIRECT,INJURIES_INDIRECT,TOTAL_INJURIES,...,DAMAGE_CROPS,COMBINED_DAMAGE,CATEGORY,TOR_F_SCALE,TOR_LENGTH,TOR_WIDTH,EPISODE_NARRATIVE,EVENT_NARRATIVE,YEAR,MONTH_NAME
0,0,146513,5338259,COLORADO,2003,January,Drought,UPPER YAMPA RIVER BASIN,0,0,...,NaN,NaN,NaN,January consisted of below normal precipitatio...,NaN,0,0,0,2003-01-01,0.0
1,1,147987,5344607,TEXAS,2003,January,Drought,ZAPATA,0,0,...,NaN,NaN,NaN,NaN,Soil moisture values remain above normal. How...,0,0,0,2003-01-01,0.0
2,2,147987,5344606,TEXAS,2003,January,Drought,WILLACY,0,0,...,NaN,NaN,NaN,NaN,Soil moisture values remain above normal. How...,0,0,0,2003-01-01,0.0
3,3,147987,5344605,TEXAS,2003,January,Drought,STARR,0,0,...,NaN,NaN,NaN,NaN,Soil moisture values remain above normal. How...,0,0,0,2003-01-01,0.0
4,4,147987,5344604,TEXAS,2003,January,Drought,KENEDY,0,0,...,NaN,NaN,NaN,NaN,Soil moisture values remain above normal. How...,0,0,0,2003-01-01,0.0

In [12]:
a = pd.DataFrame(df1.groupby('EVENT_TYPE').CASUALTIES.agg(['count','min', 'max', 'mean', 'sum']).sort_values('sum', axis=0, ascending=False).reset_index().head(11))

In [13]:
a.head(15)

    EVENT_TYPE  count         min           max          mean           sum
0        64742     51  45000000.0  9.000000e+07  4.676471e+07  2.385000e+09
1       198432     47   5000000.0  9.000000e+07  3.204255e+07  1.506000e+09
2        51783     24         0.0  1.050000e+09  4.375000e+07  1.050000e+09
3        40184     51  20000000.0  4.000000e+07  2.039216e+07  1.040000e+09
4       203990     46         0.0  1.000000e+09  2.173913e+07  1.000000e+09
5        68979     35         0.0  7.260000e+07  2.804286e+07  9.815000e+08
6        78171     45  21000000.0  2.100000e+07  2.100000e+07  9.450000e+08
7         7401     44    300000.0  7.000000e+08  1.701136e+07  7.485000e+08
8         1030      4   3400000.0  5.686000e+08  1.772000e+08  7.088000e+08
9        43007      9    500000.0  7.000000e+08  7.855556e+07  7.070000e+08
10        5504     97         0.0  1.550000e+08  6.391753e+06  6.200000e+08

In [14]:
#1 Most Combined Damage: CALIFORNIA	2006	January	Flood
CD1 = df1.groupby('EPISODE_ID').COMBINED_DAMAGE.agg(['count','min', 'max', 'mean', 'sum']).sort_values('sum', axis=0, ascending=False).reset_index().head(11)
CD1

     EPISODE_ID  count   min     max      mean      sum
0       ALABAMA    858  0.01  300.00  4.962179  4257.55
1        KANSAS   1245  0.00   29.90  2.773775  3453.35
2      MISSOURI    825  0.00   32.99  4.013309  3310.98
3      ARKANSAS    650  0.01   37.00  4.863554  3161.31
4   MISSISSIPPI    762  0.01   34.85  4.074843  3105.03
5      OKLAHOMA    820  0.10   80.00  3.273683  2684.42
6         TEXAS   1439  0.01   50.00  1.851473  2664.27
7       GEORGIA    490  0.00  100.00  4.668490  2287.56
8      ILLINOIS    727  0.00   28.40  2.781747  2022.33
9     TENNESSEE    480  0.01   26.00  3.997979  1919.03
10         IOWA    573  0.00   24.24  2.641518  1513.59

In [15]:
# MOST INJURIES- #1 TEXAS	1998	October	Flood	The Great October Flood
I1 = df1.groupby('EPISODE_ID').TOTAL_INJURIES.agg(['count','min', 'max', 'mean', 'sum']).sort_values('sum', axis=0, ascending=False).reset_index().head(11)
I1

      EPISODE_ID  count  min   max      mean   sum
0          TEXAS  45296    0  2400  0.072192  3270
1           UTAH   4158    0   300  0.133237   554
2         KANSAS  32234    0    36  0.013185   425
3       OKLAHOMA  21776    0   172  0.017129   373
4     CALIFORNIA   9462    0    65  0.038047   360
5      WISCONSIN  15485    0    60  0.022021   341
6        ARIZONA   4538    0    15  0.059057   268
7       ILLINOIS  23225    0    22  0.010807   251
8   PENNSYLVANIA  16458    0    35  0.014461   238
9       DELAWARE   1819    0    15  0.118197   215
10    NEW JERSEY   9798    0    20  0.021841   214

In [ ]:
#1 TOTAL_DEATHS: MISSOURI	2011	May	Tornado - A strong upper level trough across the central..
D1 = df1.groupby('EPISODE_ID').TOTAL_DEATHS.agg(['count','min', 'max', 'mean', 'sum']).sort_values('sum', axis=0, ascending=False).reset_index().head(11)
D1

In [ ]:
# Most Casualties- #1 TEXAS	1998	October	Flood	The Great October Flood

X1 = df1.groupby('EPISODE_ID').CASUALTIES.agg(['count','min', 'max', 'mean', 'sum']).sort_values('sum', axis=0, ascending=False).reset_index().head(11)
X1

In [ ]:
#1 TEXAS	1998	October	Flood	The Great October Flood
df1[df1.EPISODE_ID == 1150299]

In [ ]:
#2 TEXAS	2008	September	Hurricane IKE - The eye of Hurricane Ike moved ashore in Galve...
df1[df1.EPISODE_ID == 23202]

In [ ]:
#3 ALABAMA	2011	April	Tornado: A powerful storm system crossed the Southeast 
df1[df1.EPISODE_ID == 50455]

In [ ]:
#4 MISSOURI	2011	May	Tornado - A strong upper level trough across the central..
df1[df1.EPISODE_ID == 49972]

In [ ]:
#5 	MISSOURI	2007	August	Drought The first and only Heat Wave of the summer sta...
df1[df1.EPISODE_ID == 10217]

In [ ]:
#6 FLORIDA	2004	August	Hurricane The collective effects of Hurricane Charley
df1[df1.EPISODE_ID == 178038]

In [ ]:
#7 TEXAS	1998	October	Flood Flooding along the Guadalupe Rive
df1[df1.EPISODE_ID == 1150309]

In [ ]:
#8 OKLAHOMA	1999	May	Tornado Rocks Oklahoma - A record outbreak of tornadoes struck Oklaho.
df1[df1.EPISODE_ID == 82875]

In [ ]:
#9 TEXAS	1998	October	Flood - Flooding along the San Antonio River
df1[df1.EPISODE_ID == 70489]

In [ ]:
#10 UTAH	2013	January	Winter Storm A rare freezing rain event
df1[df1.EPISODE_ID == 71079]

In [ ]:
#11 TENNESSEE	2011	April	Winter Storm
df1[df1.EPISODE_ID == 49915]

In [ ]:
#1 	TEXAS	1998	October	Flood
df1[df1.EPISODE_ID == 1150299]

df1[(df1.CASUALTIES == 2409) & (df1.EPISODE_ID == '23202')  
    (df1.CASUALTIES == 1311) & (df1.EPISODE_ID == '49972') | 
    (df1.CASUALTIES == 852) & (df1.EPISODE_ID == '50455') |
    (df1.CASUALTIES == 802) & (df1.EPISODE_ID == '1150299') | 
    (df1.CASUALTIES == 704) & (df1.EPISODE_ID == '178038') | 
    (df1.CASUALTIES == 521) & (df1.EPISODE_ID == '10217') | 
    (df1.CASUALTIES == 500) & (df1.EPISODE_ID == '1150309') | 
    (df1.CASUALTIES == 450) & (df1.EPISODE_ID == '79351')       
    (df1.CASUALTIES == 441) & (df1.EPISODE_ID == '216163') | 
    (df1.CASUALTIES == 355) & (df1.EPISODE_ID == '75828')    
   
   
   ].sort_values('CASUALTIES', axis=0, ascending=False)

In [ ]:
a1 = df1.groupby('EVENT_TYPE').CASUALTIES.agg(['max']).sort_values('max', axis=0, ascending=False).reset_index().head(10)
a1

In [ ]:
df1[(df1.CASUALTIES == 2409) & (df1.EVENT_TYPE == 'Hurricane') | 
    (df1.CASUALTIES == 1311) & (df1.EVENT_TYPE == 'Tornado') | 
    (df1.CASUALTIES == 802) & (df1.EVENT_TYPE == 'Flood') |
    (df1.CASUALTIES == 521) & (df1.EVENT_TYPE == 'Drought') | 
    (df1.CASUALTIES == 300) & (df1.EVENT_TYPE == 'Winter Storm') | 
    (df1.CASUALTIES == 180) & (df1.EVENT_TYPE == 'Tsunami') | 
    (df1.CASUALTIES == 104) & (df1.EVENT_TYPE == 'Wildfire') | 
    (df1.CASUALTIES == 101) & (df1.EVENT_TYPE == 'High Wind')       
   ].sort_values('CASUALTIES', axis=0, ascending=False)

In [ ]:
c1 = df1.groupby('EVENT_TYPE').TOTAL_DEATHS.agg(['max']).sort_values('max', axis=0, ascending=False).reset_index().head(10)
c1

In [ ]:
df1[(df1.TOTAL_DEATHS == 161) & (df1.EVENT_TYPE == 'Tornado') | 
    (df1.TOTAL_DEATHS == 93) & (df1.EVENT_TYPE == 'Drought') | 
    (df1.TOTAL_DEATHS == 32) & (df1.EVENT_TYPE == 'Tsunami') |
    (df1.TOTAL_DEATHS == 23) & (df1.EVENT_TYPE == 'Flood') | 
    (df1.TOTAL_DEATHS == 22) & (df1.EVENT_TYPE == 'Tropical Storm') | 
    (df1.TOTAL_DEATHS == 19) & (df1.EVENT_TYPE == 'Heavy Rain') | 
    (df1.TOTAL_DEATHS == 19) & (df1.EVENT_TYPE == 'Wildfire') 
   ].sort_values('TOTAL_DEATHS', axis=0, ascending=False)

In [ ]:
b1 = df1.groupby('EVENT_TYPE').TOTAL_INJURIES.agg(['max']).sort_values('max', axis=0, ascending=False).reset_index().head(10)
b1

In [ ]:
df1[(df1.TOTAL_INJURIES == 2400) & (df1.EVENT_TYPE == 'Hurricane') | 
    (df1.TOTAL_INJURIES == 1150) & (df1.EVENT_TYPE == 'Tornado') | 
    (df1.TOTAL_INJURIES == 800) & (df1.EVENT_TYPE == 'Flood') |
    (df1.TOTAL_INJURIES == 519) & (df1.EVENT_TYPE == 'Drought') | 
    (df1.TOTAL_INJURIES == 300) & (df1.EVENT_TYPE == 'Winter Storm') | 
    (df1.TOTAL_INJURIES == 154) & (df1.EVENT_TYPE == 'Tropical Storm') | 
    (df1.TOTAL_INJURIES == 100) & (df1.EVENT_TYPE == 'High Wind') |
    (df1.TOTAL_INJURIES == 148) & (df1.EVENT_TYPE == 'Tsunami') | 
    (df1.TOTAL_INJURIES == 90) & (df1.EVENT_TYPE == 'Wildfire') 
   ].sort_values('TOTAL_INJURIES', axis=0, ascending=False)

In [ ]:
d1 = df1.groupby('EVENT_TYPE').DAMAGE_PROPERTY.agg(['max']).sort_values('max', axis=0, ascending=False).reset_index().head(10)
d1

In [ ]:
df1[(df1.DAMAGE_PROPERTY == 1.150000e+11) & (df1.EVENT_TYPE == 'Flood') | 
    (df1.DAMAGE_PROPERTY == 1.790000e+10) & (df1.EVENT_TYPE == 'Rip Current') | 
    (df1.DAMAGE_PROPERTY == 1.000000e+10) & (df1.EVENT_TYPE == 'Hurricane') |
    (df1.DAMAGE_PROPERTY == 2.800000e+09) & (df1.EVENT_TYPE == 'Tornado') | 
    (df1.DAMAGE_PROPERTY == 1.800000e+09) & (df1.EVENT_TYPE == 'Winter Storm') | 
    (df1.DAMAGE_PROPERTY == 1.500000e+09) & (df1.EVENT_TYPE == 'High Wind') | 
    (df1.DAMAGE_PROPERTY == 1.500000e+09) & (df1.EVENT_TYPE == 'WildFire') |
    (df1.DAMAGE_PROPERTY == 2.500000e+08) & (df1.EVENT_TYPE == 'Drought') | 
    (df1.DAMAGE_PROPERTY == 8.100000e+07) & (df1.EVENT_TYPE == 'Tsunami') 
   ].sort_values('DAMAGE_PROPERTY', axis=0, ascending=False)