## Dataframe construction

In [117]:
import pandas as pd

In [122]:
import pandas as pd
df1 = pd.read_csv('../Part 2 Capstone/df2.csv')

/Users/ugp/anaconda2/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (16,21,22) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [119]:
for column in df1.columns:
    print df1[column].describe()

count    994039.000000
mean      28342.562048
std       17292.874500
min           0.000000
25%       13806.000000
50%       27612.000000
75%       41418.000000
max       79091.000000
Name: Unnamed: 0, dtype: float64
count    994039.000000
mean     200515.128781
std         514.703215
min      199601.000000
25%      200103.000000
50%      200512.000000
75%      201003.000000
max      201310.000000
Name: BEGIN_YEARMONTH, dtype: float64
count    994039.000000
mean         14.891068
std           9.178259
min           1.000000
25%           7.000000
50%          15.000000
75%          23.000000
max          31.000000
Name: BEGIN_DAY, dtype: float64
count    994039.000000
mean       1290.468152
std         682.994668
min           0.000000
25%         800.000000
50%        1500.000000
75%        1812.000000
max        2359.000000
Name: BEGIN_TIME, dtype: float64
count    994039.000000
mean     200515.131411
std         514.703310
min      199601.000000
25%      200103.000000
50%      200512.000000
75%      201003.000000
max      201310.000000
Name: END_YEARMONTH, dtype: float64
count    994039.000000
mean         16.544843
std           9.180232
min           1.000000
25%           9.000000
50%          17.000000
75%          25.000000
max          31.000000
Name: END_DAY, dtype: float64
count    994039.000000
mean       1488.680599
std         613.744263
min           0.000000
25%        1145.000000
50%        1615.000000
75%        1920.000000
max        2359.000000
Name: END_TIME, dtype: float64
count    9.940390e+05
mean     2.144254e+05
std      3.316139e+05
min      1.000000e+00
25%      4.446800e+04
50%      8.527700e+04
75%      1.758730e+05
max      1.152422e+06
Name: EPISODE_ID, dtype: float64
count    9.940390e+05
mean     3.109488e+06
std      2.591636e+06
min      3.419000e+03
25%      2.704935e+05
50%      5.177320e+06
75%      5.474706e+06
max      5.725449e+06
Name: EVENT_ID, dtype: float64
count     994038
unique        68
top        TEXAS
freq       71871
Name: STATE, dtype: object
count    994038.000000
mean         31.470924
std          17.179113
min           1.000000
25%                NaN
50%                NaN
75%                NaN
max          99.000000
Name: STATE_FIPS, dtype: float64
count    994039.000000
mean       2005.092126
std           5.146791
min        1996.000000
25%        2001.000000
50%        2005.000000
75%        2010.000000
max        2013.000000
Name: YEAR, dtype: float64
count        994039
unique           23
top       June
freq          75806
Name: MONTH_NAME, dtype: object
count           994039
unique              15
top       Winter Storm
freq            414873
Name: EVENT_TYPE, dtype: object
count     994039
unique         3
top            C
freq      613750
Name: CZ_TYPE, dtype: object
count    994039.000000
mean         88.600368
std         105.526869
min           1.000000
25%          24.000000
50%          61.000000
75%         111.000000
max         876.000000
Name: CZ_FIPS, dtype: float64
count         994039
unique          6756
top       WASHINGTON
freq            8277
Name: CZ_NAME, dtype: object
count     994039
unique       125
top          PHI
freq       27925
Name: WFO, dtype: object
count                  994039
unique                 484427
top       07/01/2012 00:00:00
freq                     1163
Name: BEGIN_DATE_TIME, dtype: object
count     994039
unique        16
top          CST
freq      264714
Name: CZ_TIMEZONE, dtype: object
count                  994039
unique                 478324
top       07/31/2012 23:59:00
freq                     1107
Name: END_DATE_TIME, dtype: object
count    994039.000000
mean          0.066908
std           3.057760
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max        1150.000000
Name: INJURIES_DIRECT, dtype: float64
count    994039.000000
mean          0.008810
std           2.454174
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max        2400.000000
Name: INJURIES_INDIRECT, dtype: float64
count    994039.000000
mean          0.010016
std           0.287855
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max         158.000000
Name: DEATHS_DIRECT, dtype: float64
count    994039.000000
mean          0.001328
std           0.050909
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max          11.000000
Name: DEATHS_INDIRECT, dtype: float64
count    9.940390e+05
mean     4.223994e+05
std      1.190188e+08
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      1.150000e+11
Name: DAMAGE_PROPERTY, dtype: float64
count    9.940390e+05
mean     5.237319e+04
std      2.865790e+06
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      1.050000e+09
Name: DAMAGE_CROPS, dtype: float64
count              880413
unique                 70
top       Trained Spotter
freq                89530
Name: SOURCE, dtype: object
count    510630.000000
mean         29.616078
std          42.338251
min           0.000000
25%                NaN
50%                NaN
75%                NaN
max       22000.000000
Name: MAGNITUDE, dtype: float64
count     245189
unique         6
top           EG
freq      162990
Name: MAGNITUDE_TYPE, dtype: object
count          41277
unique             7
top       Heavy Rain
freq           36614
Name: FLOOD_CAUSE, dtype: object
count    174.000000
mean       1.086207
std        0.428108
min        1.000000
25%             NaN
50%             NaN
75%             NaN
max        5.000000
Name: CATEGORY, dtype: float64
count     24924
unique       13
top          F0
freq       9366
Name: TOR_F_SCALE, dtype: object
count    24896.000000
mean         2.860193
std          6.441886
min          0.000000
25%               NaN
50%               NaN
75%               NaN
max        400.000000
Name: TOR_LENGTH, dtype: float64
count    24896.000000
mean       132.837111
std        238.183144
min          0.000000
25%               NaN
50%               NaN
75%               NaN
max       4576.000000
Name: TOR_WIDTH, dtype: float64
count     1309
unique      84
top        BMX
freq        91
Name: TOR_OTHER_WFO, dtype: object
count     1309
unique      37
top         AL
freq       148
Name: TOR_OTHER_CZ_STATE, dtype: object
count    1309.000000
mean      100.435447
std        75.835911
min         1.000000
25%              NaN
50%              NaN
75%              NaN
max       740.000000
Name: TOR_OTHER_CZ_FIPS, dtype: float64
count          1309
unique          595
top       JEFFERSON
freq             19
Name: TOR_OTHER_CZ_NAME, dtype: object
count    408306.000000
mean          3.454821
std           5.115530
min           0.000000
25%                NaN
50%                NaN
75%                NaN
max         520.000000
Name: BEGIN_RANGE, dtype: float64
count     408306
unique        17
top            N
freq       99962
Name: BEGIN_AZIMUTH, dtype: object
count         631250
unique         41664
top       COUNTYWIDE
freq           19665
Name: BEGIN_LOCATION, dtype: object
count    191161.000000
mean          4.795000
std           5.577513
min           0.000000
25%                NaN
50%                NaN
75%                NaN
max         176.000000
Name: END_RANGE, dtype: float64
count     191161
unique        20
top            N
freq       29316
Name: END_AZIMUTH, dtype: object
count         414496
unique         34119
top       COUNTYWIDE
freq           19717
Name: END_LOCATION, dtype: object
count    567873.000000
mean         37.989446
std           4.846587
min         -14.350000
25%                NaN
50%                NaN
75%                NaN
max          97.100000
Name: BEGIN_LAT, dtype: float64
count    567874.000000
mean        -64.087901
std          80.801729
min        -815.100000
25%                NaN
50%                NaN
75%                NaN
max         171.370000
Name: BEGIN_LON, dtype: float64
count    351105.000000
mean         38.193559
std          11.350832
min         -14.400000
25%                NaN
50%                NaN
75%                NaN
max         483.100000
Name: END_LAT, dtype: float64
count    351106.000000
mean        -48.084223
std          99.060125
min        -815.100000
25%                NaN
50%                NaN
75%                NaN
max         815.100000
Name: END_LON, dtype: float64
count                                                747137
unique                                               144582
top       A strong upper-level disturbance passed throug...
freq                                                    294
Name: EPISODE_NARRATIVE, dtype: object
count          465552
unique         394235
top       Trees down.
freq             1336
Name: EVENT_NARRATIVE, dtype: object
count    4.463770e+05
mean     4.552487e+07
std      3.721479e+07
min      2.006010e+07
25%               NaN
50%               NaN
75%               NaN
max      1.000000e+08
Name: LAST_MOD_DATE, dtype: float64
count    446377.000000
mean       4124.842346
std        4036.234968
min           0.000000
25%                NaN
50%                NaN
75%                NaN
max        9999.000000
Name: LAST_MOD_TIME, dtype: float64
count    4.463770e+05
mean     2.010261e+07
std      1.896445e+04
min      2.006010e+07
25%               NaN
50%               NaN
75%               NaN
max      2.014011e+07
Name: LAST_CERT_DATE, dtype: float64
count    446377.000000
mean       1316.212988
std         400.252899
min           0.000000
25%                NaN
50%                NaN
75%                NaN
max        2359.000000
Name: LAST_CERT_TIME, dtype: float64
count                  304342
unique                  99479
top       07/02/2011 18:27:21
freq                      204
Name: LAST_MOD, dtype: object
count              446377
unique               9093
top       8/20/2008 14:45
freq                  671
Name: LAST_CERT, dtype: object
count    37840.000000
mean         1.053066
std          0.224167
min          1.000000
25%               NaN
50%               NaN
75%               NaN
max          2.000000
Name: ADDCORR_FLG, dtype: float64
count    3.784000e+04
mean     2.010506e+07
std      2.054233e+04
min      2.009041e+07
25%               NaN
50%               NaN
75%               NaN
max      2.014013e+07
Name: ADDCORR_DATE, dtype: float64
count    994039.000000
mean          0.087061
std           4.036967
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max        2409.000000
Name: CASUALTIES, dtype: float64
count    994039.000000
mean          0.011344
std           0.296486
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max         161.000000
Name: TOTAL_DEATHS, dtype: float64
count    994039.000000
mean          0.075717
std           3.922704
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max        2400.000000
Name: TOTAL_INJURIES, dtype: float64
count         994039
unique          6418
top       2012-07-01
freq            2447
Name: DATE, dtype: object
count    9.940390e+05
mean     4.747726e+05
std      1.191153e+08
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      5.000000e+02
max      1.150325e+11
Name: COMBINED_DAMAGE, dtype: float64

In [123]:
df1.shape

(994039, 31)

In [124]:
df1.EVENT_TYPE.unique()

array(['Winter Storm', 'Flood', 'High Wind', 'Tornado', 'Lightning',
       'Waterspout', 'OTHER', 'Heavy Rain', 'Drought', 'Rip Current',
       'Wildfire', 'Tropical Storm', 'Hurricane', 'Tsunami', 'Landslide'], dtype=object)



## Below i will construct a number of dataframes that I will subsequently run both regression and classification models on.

In [125]:
df1.columns

Index([u'Unnamed: 0', u'BEGIN_DAY', u'EPISODE_ID', u'EVENT_ID', u'STATE',
       u'YEAR', u'MONTH_NAME', u'EVENT_TYPE', u'CZ_NAME', u'WFO',
       u'INJURIES_DIRECT', u'INJURIES_INDIRECT', u'DEATHS_DIRECT',
       u'DEATHS_INDIRECT', u'DAMAGE_PROPERTY', u'DAMAGE_CROPS', u'FLOOD_CAUSE',
       u'CATEGORY', u'TOR_F_SCALE', u'TOR_LENGTH', u'TOR_WIDTH',
       u'TOR_OTHER_WFO', u'TOR_OTHER_CZ_STATE', u'END_LAT',
       u'EPISODE_NARRATIVE', u'EVENT_NARRATIVE', u'CASUALTIES',
       u'TOTAL_DEATHS', u'TOTAL_INJURIES', u'DATE', u'COMBINED_DAMAGE'],
      dtype='object')

In [127]:
a = pd.DataFrame(df1.groupby('EVENT_TYPE').CASUALTIES.agg(['count','min', 'max', 'mean', 'sum', ]).sort_values('sum', axis=0, ascending=False).reset_index().head(11))

In [128]:
a.head(15)

      EVENT_TYPE   count  min   max      mean    sum
0        Tornado   31568    0  1311  0.723803  22849
1        Drought   65644    0   521  0.257221  16885
2   Winter Storm  414873    0   300  0.027572  11439
3          Flood   99038    0   802  0.102587  10160
4      High Wind  319759    0   101  0.027055   8651
5      Lightning   14229    0    51  0.377961   5378
6      Hurricane    1777    0  2409  2.181204   3876
7          OTHER    9897    0    64  0.224108   2218
8       Wildfire    5251    0   104  0.403923   2121
9    Rip Current    8325    0    55  0.209730   1746
10    Heavy Rain   15217    0    52  0.037064    564

In [135]:
a1 = dfs.groupby('EVENT_TYPE').CASUALTIES.agg(['max']).sort_values('max', axis=0, ascending=False).reset_index().head(10)
a1

       EVENT_TYPE   max
0       Hurricane  2409
1         Tornado  1311
2           Flood   802
3         Drought   521
4    Winter Storm   300
5         Tsunami   180
6  Tropical Storm   154
7        Wildfire   104
8       High Wind   101
9           OTHER    64

In [136]:
dfs[(dfs.CASUALTIES == 2409) & (dfs.EVENT_TYPE == 'Hurricane') | 
    (dfs.CASUALTIES == 1311) & (dfs.EVENT_TYPE == 'Tornado') | 
    (dfs.CASUALTIES == 802) & (dfs.EVENT_TYPE == 'Flood') |
    (dfs.CASUALTIES == 521) & (dfs.EVENT_TYPE == 'Drought') | 
    (dfs.CASUALTIES == 300) & (dfs.EVENT_TYPE == 'Winter Storm') | 
    (dfs.CASUALTIES == 180) & (dfs.EVENT_TYPE == 'Tsunami') | 
    (dfs.CASUALTIES == 177) & (dfs.EVENT_TYPE == 'Wildfire') | 
    (dfs.CASUALTIES == 172) & (dfs.EVENT_TYPE == 'High Wind')     
    
    
   ].sort_values('CASUALTIES', axis=0, ascending=False)

,index,Unnamed: 0,BEGIN_DAY,EPISODE_ID,EVENT_ID,STATE,YEAR,MONTH_NAME,EVENT_TYPE,CZ_NAME,...,TOR_OTHER_WFO,TOR_OTHER_CZ_STATE,END_LAT,EPISODE_NARRATIVE,EVENT_NARRATIVE,CASUALTIES,TOTAL_DEATHS,TOTAL_INJURIES,DATE,COMBINED_DAMAGE
667464,667464,60644,12,23202,136433,TEXAS,2008,September,Hurricane,HARRIS,...,NaN,NaN,NaN,The eye of Hurricane Ike moved ashore in Galve...,Ike produced damage due to high storm surge an...,2409,9,2400,2008-09-12,2.000000e+09
832105,832105,33549,22,49972,296617,MISSOURI,2011,May,Tornado,JASPER,...,SGF,MO,37.05,A strong upper level trough across the central...,National Weather Service survey teams rated th...,1311,161,1150,2011-05-22,2.800000e+09
135065,135065,44513,17,1150299,5672496,TEXAS,1998,October,Flood,COMAL,...,NaN,NaN,NaN,The Great October Flood\n\nIn advance of a ver...,NaN,802,2,800,1998-10-17,5.005000e+07
588131,588131,40469,4,10217,56732,MISSOURI,2007,August,Drought,ST. LOUIS,...,NaN,NaN,NaN,The first and only Heat Wave of the summer sta...,NaN,521,2,519,2007-08-04,0.000000e+00
944941,944941,2834,24,71079,431502,UTAH,2013,January,Winter Storm,SALT LAKE AND TOOELE VALLEYS,...,NaN,NaN,NaN,A rare freezing rain event occurred in Utah on...,"Of all the areas across Utah, the Salt Lake Va...",300,0,300,2013-01-24,0.000000e+00
726432,726432,48068,29,35252,204396,AMERICAN SAMOA,2009,September,Tsunami,TUTUILA,...,NaN,NaN,NaN,A tsunami wave affected all of American Samoa ...,A 7.9 earthquake occurred about 120 miles sout...,180,32,148,2009-09-29,8.102000e+07

In [59]:
a_biggest = pd.DataFrame(df1.groupby('EVENT_TYPE').casualties.agg(['max']).sort_values('max', axis=0, ascending=False).reset_index().head(11))

In [66]:
a_biggest.head(11)

             EVENT_TYPE   max
0   Hurricane (Typhoon)  2409
1               Tornado  1311
2           Flash Flood   802
3        Excessive Heat   521
4                 Flood   500
5                  Heat   450
6             Ice Storm   300
7               Tsunami   180
8        Winter Weather   177
9          Winter Storm   172
10       Tropical Storm   154